In [1]:
from am4894pd.utils import df_dummy_ts # used to generate some dummy data
from am4894plots.plots import plot_lines, plot_lines_grid
from am4894plots.lines.bokeh import plot_lines as plot_lines_bokeh
from am4894plots.lines.bokeh import plot_lines_grid as plot_lines_grid_bk

# generate some dummy time series data
df = df_dummy_ts(n_cols=100, freq='1min')
print(df.shape)
display(df.head())

(1342, 100)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col90,col91,col92,col93,col94,col95,col96,col97,col98,col99
time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 01:39:00,-0.094480,-0.077452,-0.006500,-0.113377,-0.115051,-0.032214,-0.095751,-0.006889,0.022449,-0.147310,...,-0.087886,0.060881,-0.041864,0.067695,-0.109621,0.195810,0.204674,-0.179580,0.013342,0.098814
2019-01-01 01:40:00,-0.074589,-0.083881,0.007858,-0.101020,-0.129198,-0.027534,-0.078569,0.003558,0.031800,-0.130107,...,-0.093043,0.053837,-0.040183,0.042913,-0.098799,0.204462,0.183930,-0.160830,0.026922,0.069235
2019-01-01 01:41:00,-0.091300,-0.085160,0.010795,-0.072505,-0.153732,-0.020894,-0.080332,0.037000,0.041586,-0.118088,...,-0.112843,0.070775,-0.026255,0.029223,-0.061975,0.212179,0.189071,-0.155722,0.036583,0.060167
2019-01-01 01:42:00,-0.100137,-0.078361,0.039287,-0.062078,-0.161475,-0.024318,-0.081004,0.034274,0.040942,-0.113459,...,-0.105031,0.103436,0.008540,0.023924,-0.065406,0.198121,0.177878,-0.166258,0.022301,0.060505
2019-01-01 01:43:00,-0.099286,-0.055684,0.046017,-0.062996,-0.148534,-0.032822,-0.058393,0.029538,0.049358,-0.117570,...,-0.115236,0.119585,0.013310,0.039722,-0.039871,0.190718,0.155852,-0.144828,0.022118,0.068517

In [2]:
# make shaded region
shade_regions = [
    (df.index[-300:].min(), df.index[-101], 'lightblue'),
    (df.index[-100:].min(), df.index.max(), 'yellow')
]
print(shade_regions)

[(Timestamp('2019-01-01 19:01:00'), Timestamp('2019-01-01 22:20:00'), 'lightblue'), (Timestamp('2019-01-01 22:21:00'), Timestamp('2019-01-02 00:00:00'), 'yellow')]

In [3]:
subplot_titles = [f'blah blah blah blah blah blah - {col}' for col in df.columns]

In [4]:
# plot each time series on single plot as a line
plot_lines_grid(
    df, subplot_titles=subplot_titles, return_p=False, show_p=False, out_path='dev/dev.html', h_each=100, w=1200, 
    legend=False, yaxes_visible=False, shade_regions=shade_regions, text_position='bottom right', xaxes_visible=False
)