In [1]:
from am4894pd.utils import df_dummy_ts # used to generate some dummy data
from am4894plots.plots import plot_lines, plot_lines_grid
from am4894plots.lines.bokeh import plot_lines as plot_lines_bokeh
from am4894plots.lines.bokeh import plot_lines_grid as plot_lines_grid_bk

# generate some dummy time series data
df = df_dummy_ts(n_cols=10, freq='1min')
print(df.shape)
display(df.head())

(1342, 10)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9
time,,,,,,,,,,
2019-01-01 01:39:00,0.094637,-0.026028,0.009788,-0.086360,0.094658,-0.159012,0.010536,0.185730,0.032680,-0.134111
2019-01-01 01:40:00,0.104604,-0.039314,0.027469,-0.067474,0.087105,-0.177999,0.022651,0.192941,0.003287,-0.139535
2019-01-01 01:41:00,0.100678,-0.044442,0.046895,-0.057979,0.076181,-0.158387,0.058565,0.210894,-0.010311,-0.137450
2019-01-01 01:42:00,0.107746,-0.033967,0.036937,-0.066239,0.077228,-0.161417,0.063570,0.241090,-0.000201,-0.134333
2019-01-01 01:43:00,0.115666,-0.045064,0.036631,-0.079569,0.080599,-0.158196,0.074238,0.245309,0.021545,-0.114378

In [2]:
# make shaded region
shade_regions = [
    (df.index[-300:].min(), df.index[-101], 'lightblue'),
    (df.index[-100:].min(), df.index.max(), 'yellow')
]
print(shade_regions)

[(Timestamp('2019-01-01 19:01:00'), Timestamp('2019-01-01 22:20:00'), 'lightblue'), (Timestamp('2019-01-01 22:21:00'), Timestamp('2019-01-02 00:00:00'), 'yellow')]

In [3]:
subplot_titles = ['col0 & col1', 'col2', 'col3']

In [4]:
plot_cols = [['col0','col1'], 'col2', 'col3']

In [6]:
# plot each time series on single plot as a line
plot_lines_grid(
    df, plot_cols, subplot_titles=subplot_titles, return_p=False, show_p=False, out_path='dev/dev.html', h_each=200, 
    w=1200, legend=False, yaxes_visible=False, shade_regions=shade_regions, text_position='bottom right', 
    xaxes_visible=False
)